.checkout__ad{
    width: 100%;
    margin-bottom: 10px;
}
.checkout {
    display: flex;
    height: 100vh;
    padding: 20px;
    justify-content: center;
    background-color: #eee;
    height: max-content;
  }
  .checkout__title {
    margin-right: 10px;
    padding: 10px;
   /* background-color: #fff;*/ 
    border-bottom: 1px solid lightgray;
  }
  